langchain
langgraph
langchain-community
langchain-text-splitters
langchain-chroma 
chromadb
langchain-ollama  
tiktoken
pypdf
fastapi
uv
pydantic
python-dotenv
fastapi
pydantic
pydantic-settings 

   
            